Package: simpleNavigator
Version: 1.0
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Main Maintainer https://github.com/klotzgal
Uploaders: Second Maintainer https://github.com/celestiv, Third Maintainer https://github.com/ardipazij
Depends: python3, libc6 (>= 2.27)
Homepage: https://github.com/your-repo/simpleNavigator
Description: A2_SimpleNavigator_v1.0_Python
